/* line 4, ../sass/compiled.sass */
.page-wrapper {
  font-family: Open Sans;
}

/* line 8, ../sass/compiled.sass */
.top-banner {
  background-color: #f0796c;
  padding: 0;
  margin: 0;
}
/* line 12, ../sass/compiled.sass */
.top-banner h1 {
  text-align: center;
  padding: 5px, 0, 0, 0;
}
/* line 15, ../sass/compiled.sass */
.top-banner h2 {
  text-align: center;
}

/* line 19, ../sass/compiled.sass */
.nav-bar {
  background: #353535;
  width: 100%;
  border: 0;
  padding: 0;
}
/* line 24, ../sass/compiled.sass */
.nav-bar li {
  display: inline-block;
  padding: 5px;
  background: #67b8b0;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

/* line 34, ../sass/compiled.sass */
.main-stuff {
  padding: 1em;
  background: #cfe3cf;
  width: 70%;
  float: left;
}
@media only screen and (max-width: 500px) {
  /* line 34, ../sass/compiled.sass */
  .main-stuff {
    float: none;
    width: 100%;
  }
}
/* line 42, ../sass/compiled.sass */
.main-stuff .entry {
  color: #353535;
  padding: 5 px;
  border-color: black;
}

/* line 50, ../sass/compiled.sass */
.sidebar {
  background: #f8c3ac;
  float: right;
  width: 20%;
}
/* line 51, ../sass/compiled.sass */
.sidebar h3 {
  text-align: center;
}
@media only screen and (max-width: 500px) {
  /* line 50, ../sass/compiled.sass */
  .sidebar {
    float: none;
    width: 100%;
  }
}
/* line 60, ../sass/compiled.sass */
.sidebar .links {
  text-decoration: none;
}
